<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.contract.home.title">Contracts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contract" [routerLink]="['/contract/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.contract.home.createLabel">
            Create new Contract
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contracts?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.contract.home.notFound">No contracts found</span>
    </div>
    <div class="table-responsive" *ngIf="contracts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.number">Number</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.isMerchantContract">Is Merchant Contract</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.modificationDate">Modification Date</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.validationDate">Validation Date</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.filename">Filename</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.customerCode">Customer Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.active">Active</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.contract.account">Account</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contract of contracts ;trackBy: trackId">
                <td><a [routerLink]="['/contract', contract.id, 'view' ]">{{contract.id}}</a></td>
                <td>{{contract.number}}</td>
                <td>{{contract.creationDate | date:'medium'}}</td>
                <td>{{contract.isMerchantContract}}</td>
                <td>{{contract.modificationDate | date:'medium'}}</td>
                <td>{{contract.validationDate | date:'medium'}}</td>
                <td>{{contract.filename}}</td>
                <td>{{contract.customerCode}}</td>
                <td>{{contract.active}}</td>
                <td>
                    <div *ngIf="contract.accountId">
                        <a [routerLink]="['../pg-account', contract.accountId , 'view' ]" >{{contract.accountId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contract', contract.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contract', contract.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'contract', { outlets: { popup: contract.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
