<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pg-message-model-data-heading" jhiTranslate="pgkernelgatewayApp.pgMessageModelData.home.createOrEditLabel">Create or edit a Pg Message Model Data</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgMessageModelData.mandatory" for="field_mandatory">Mandatory</label>
                    <input type="checkbox" class="form-control" name="mandatory" id="field_mandatory"
                           formControlName="mandatory"/>
                    <div *ngIf="editForm.get('mandatory').invalid && (editForm.get('mandatory').dirty || editForm.get('mandatory').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mandatory').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgMessageModelData.hidden" for="field_hidden">Hidden</label>
                    <input type="checkbox" class="form-control" name="hidden" id="field_hidden"
                           formControlName="hidden"/>
                    <div *ngIf="editForm.get('hidden').invalid && (editForm.get('hidden').dirty || editForm.get('hidden').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hidden').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgMessageModelData.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgMessageModelData.pgData" for="field_pgData">Pg Data</label>
                    <select class="form-control" id="field_pgData" name="pgData" formControlName="pgDataId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pgDataOption.id" *ngFor="let pgDataOption of pgdata; trackBy: trackPgDataById">{{pgDataOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgMessageModelData.pgMessageModel" for="field_pgMessageModel">Pg Message Model</label>
                    <select class="form-control" id="field_pgMessageModel" name="pgMessageModel" formControlName="pgMessageModelId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pgMessageModelOption.id" *ngFor="let pgMessageModelOption of pgmessagemodels; trackBy: trackPgMessageModelById">{{pgMessageModelOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
