<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.pgMessageModelData.home.title">Pg Message Model Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pg-message-model-data" [routerLink]="['/pg-message-model-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.pgMessageModelData.home.createLabel">
            Create new Pg Message Model Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pgMessageModelData?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.pgMessageModelData.home.notFound">No pgMessageModelData found</span>
    </div>
    <div class="table-responsive" *ngIf="pgMessageModelData?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgMessageModelData.mandatory">Mandatory</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgMessageModelData.hidden">Hidden</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgMessageModelData.active">Active</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgMessageModelData.pgData">Pg Data</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgMessageModelData.pgMessageModel">Pg Message Model</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pgMessageModelData of pgMessageModelData ;trackBy: trackId">
                <td><a [routerLink]="['/pg-message-model-data', pgMessageModelData.id, 'view' ]">{{pgMessageModelData.id}}</a></td>
                <td>{{pgMessageModelData.mandatory}}</td>
                <td>{{pgMessageModelData.hidden}}</td>
                <td>{{pgMessageModelData.active}}</td>
                <td>
                    <div *ngIf="pgMessageModelData.pgDataId">
                        <a [routerLink]="['../pg-data', pgMessageModelData.pgDataId , 'view' ]" >{{pgMessageModelData.pgDataId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pgMessageModelData.pgMessageModelId">
                        <a [routerLink]="['../pg-message-model', pgMessageModelData.pgMessageModelId , 'view' ]" >{{pgMessageModelData.pgMessageModelId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pg-message-model-data', pgMessageModelData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pg-message-model-data', pgMessageModelData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pg-message-model-data', { outlets: { popup: pgMessageModelData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
