<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="loanInstalmentStatus">
            <h2><span jhiTranslate="pgkernelgatewayApp.loanInstalmentStatus.detail.title">Loan Instalment Status</span> {{loanInstalmentStatus.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgkernelgatewayApp.loanInstalmentStatus.code">Code</span></dt>
                <dd>
                    <span>{{loanInstalmentStatus.code}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.loanInstalmentStatus.label">Label</span></dt>
                <dd>
                    <span>{{loanInstalmentStatus.label}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.loanInstalmentStatus.active">Active</span></dt>
                <dd>
                    <span>{{loanInstalmentStatus.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/loan-instalment-status', loanInstalmentStatus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
