<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-price-commission-heading" jhiTranslate="pgkernelgatewayApp.priceCommission.home.createOrEditLabel">Create or edit a Price Commission</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                    <div *ngIf="editForm.get('label').invalid && (editForm.get('label').dirty || editForm.get('label').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount').invalid && (editForm.get('amount').dirty || editForm.get('amount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.amountInPercent" for="field_amountInPercent">Amount In Percent</label>
                    <input type="checkbox" class="form-control" name="amountInPercent" id="field_amountInPercent"
                           formControlName="amountInPercent"/>
                    <div *ngIf="editForm.get('amountInPercent').invalid && (editForm.get('amountInPercent').dirty || editForm.get('amountInPercent').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amountInPercent').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.dateCreation" for="field_dateCreation">Date Creation</label>
                    <div class="d-flex">
                        <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" formControlName="dateCreation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateCreation').invalid && (editForm.get('dateCreation').dirty || editForm.get('dateCreation').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreation').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateCreation').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.percent" for="field_percent">Percent</label>
                    <input type="number" class="form-control" name="percent" id="field_percent"
                           formControlName="percent"/>
                    <div *ngIf="editForm.get('percent').invalid && (editForm.get('percent').dirty || editForm.get('percent').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('percent').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('percent')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.currencyCode" for="field_currencyCode">Currency Code</label>
                    <input type="text" class="form-control" name="currencyCode" id="field_currencyCode"
                           formControlName="currencyCode"/>
                    <div *ngIf="editForm.get('currencyCode').invalid && (editForm.get('currencyCode').dirty || editForm.get('currencyCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('currencyCode').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('currencyCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.partnerCode" for="field_partnerCode">Partner Code</label>
                    <input type="text" class="form-control" name="partnerCode" id="field_partnerCode"
                           formControlName="partnerCode"/>
                    <div *ngIf="editForm.get('partnerCode').invalid && (editForm.get('partnerCode').dirty || editForm.get('partnerCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('partnerCode').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('partnerCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.serviceCode" for="field_serviceCode">Service Code</label>
                    <input type="text" class="form-control" name="serviceCode" id="field_serviceCode"
                           formControlName="serviceCode"/>
                    <div *ngIf="editForm.get('serviceCode').invalid && (editForm.get('serviceCode').dirty || editForm.get('serviceCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serviceCode').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serviceCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.priceCommission.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
