<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.connectorType.home.title">Connector Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-connector-type" [routerLink]="['/connector-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.connectorType.home.createLabel">
            Create new Connector Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="connectorTypes?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.connectorType.home.notFound">No connectorTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="connectorTypes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.connectorType.label">Label</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.connectorType.description">Description</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.connectorType.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let connectorType of connectorTypes ;trackBy: trackId">
                <td><a [routerLink]="['/connector-type', connectorType.id, 'view' ]">{{connectorType.id}}</a></td>
                <td>{{connectorType.label}}</td>
                <td>{{connectorType.description}}</td>
                <td>{{connectorType.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/connector-type', connectorType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/connector-type', connectorType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'connector-type', { outlets: { popup: connectorType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
