<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pg-detail-message-heading" jhiTranslate="pgkernelgatewayApp.pgDetailMessage.home.createOrEditLabel">Create or edit a Pg Detail Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgDetailMessage.dataValue" for="field_dataValue">Data Value</label>
                    <input type="text" class="form-control" name="dataValue" id="field_dataValue"
                           formControlName="dataValue"/>
                    <div *ngIf="editForm.get('dataValue').invalid && (editForm.get('dataValue').dirty || editForm.get('dataValue').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataValue').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgDetailMessage.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgDetailMessage.pgData" for="field_pgData">Pg Data</label>
                    <select class="form-control" id="field_pgData" name="pgData" formControlName="pgDataId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pgDataOption.id" *ngFor="let pgDataOption of pgdata; trackBy: trackPgDataById">{{pgDataOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pgDetailMessage.pgMessage" for="field_pgMessage">Pg Message</label>
                    <select class="form-control" id="field_pgMessage" name="pgMessage" formControlName="pgMessageId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pgMessageOption.id" *ngFor="let pgMessageOption of pgmessages; trackBy: trackPgMessageById">{{pgMessageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
