<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.transaction.home.title">Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.transaction.home.createLabel">
            Create new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transactions?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.transaction.home.notFound">No transactions found</span>
    </div>
    <div class="table-responsive" *ngIf="transactions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.transactionNumber">Transaction Number</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.label">Label</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.transactionAmount">Transaction Amount</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.transactionDate">Transaction Date</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.feesSupported">Fees Supported</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.transactionFees">Transaction Fees</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.priceCode">Price Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.fromPartnerCode">From Partner Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.toPartnerCode">To Partner Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.transactionStatusCode">Transaction Status Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.transactionTypeCode">Transaction Type Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.serviceCode">Service Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.comment">Comment</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.transaction.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['/transaction', transaction.id, 'view' ]">{{transaction.id}}</a></td>
                <td>{{transaction.transactionNumber}}</td>
                <td>{{transaction.label}}</td>
                <td>{{transaction.transactionAmount}}</td>
                <td>{{transaction.transactionDate | date:'medium'}}</td>
                <td>{{transaction.feesSupported}}</td>
                <td>{{transaction.transactionFees}}</td>
                <td>{{transaction.priceCode}}</td>
                <td>{{transaction.fromPartnerCode}}</td>
                <td>{{transaction.toPartnerCode}}</td>
                <td>{{transaction.transactionStatusCode}}</td>
                <td>{{transaction.transactionTypeCode}}</td>
                <td>{{transaction.serviceCode}}</td>
                <td>{{transaction.comment}}</td>
                <td>{{transaction.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'transaction', { outlets: { popup: transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
