<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionProperty">
            <h2><span jhiTranslate="pgkernelgatewayApp.transactionProperty.detail.title">Transaction Property</span> {{transactionProperty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgkernelgatewayApp.transactionProperty.code">Code</span></dt>
                <dd>
                    <span>{{transactionProperty.code}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.transactionProperty.label">Label</span></dt>
                <dd>
                    <span>{{transactionProperty.label}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.transactionProperty.propertyType">Property Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'pgkernelgatewayApp.PropertyType.' + transactionProperty.propertyType}}">{{transactionProperty.propertyType}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.transactionProperty.active">Active</span></dt>
                <dd>
                    <span>{{transactionProperty.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction-property', transactionProperty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
