<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pgModule">
            <h2><span jhiTranslate="pgkernelgatewayApp.pgModule.detail.title">Pg Module</span> {{pgModule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgkernelgatewayApp.pgModule.code">Code</span></dt>
                <dd>
                    <span>{{pgModule.code}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgModule.label">Label</span></dt>
                <dd>
                    <span>{{pgModule.label}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgModule.active">Active</span></dt>
                <dd>
                    <span>{{pgModule.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pg-module', pgModule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
