<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pgUser">
            <h2><span jhiTranslate="pgkernelgatewayApp.pgUser.detail.title">Pg User</span> {{pgUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.username">Username</span></dt>
                <dd>
                    <span>{{pgUser.username}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.email">Email</span></dt>
                <dd>
                    <span>{{pgUser.email}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.firstname">Firstname</span></dt>
                <dd>
                    <span>{{pgUser.firstname}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.name">Name</span></dt>
                <dd>
                    <span>{{pgUser.name}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.msisdn">Msisdn</span></dt>
                <dd>
                    <span>{{pgUser.msisdn}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{pgUser.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.updateDate">Update Date</span></dt>
                <dd>
                    <span>{{pgUser.updateDate}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pgUser.userProfile">User Profile</span></dt>
                <dd>
                    <div *ngIf="pgUser.userProfileId">
                        <a [routerLink]="['/user-profile', pgUser.userProfileId, 'view']">{{pgUser.userProfileId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pg-user', pgUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
