<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.pgUser.home.title">Pg Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pg-user" [routerLink]="['/pg-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.pgUser.home.createLabel">
            Create new Pg User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pgUsers?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.pgUser.home.notFound">No pgUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="pgUsers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.username">Username</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.email">Email</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.firstname">Firstname</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.name">Name</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.msisdn">Msisdn</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.updateDate">Update Date</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgUser.userProfile">User Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pgUser of pgUsers ;trackBy: trackId">
                <td><a [routerLink]="['/pg-user', pgUser.id, 'view' ]">{{pgUser.id}}</a></td>
                <td>{{pgUser.username}}</td>
                <td>{{pgUser.email}}</td>
                <td>{{pgUser.firstname}}</td>
                <td>{{pgUser.name}}</td>
                <td>{{pgUser.msisdn}}</td>
                <td>{{pgUser.creationDate | date:'medium'}}</td>
                <td>{{pgUser.updateDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="pgUser.userProfileId">
                        <a [routerLink]="['../user-profile', pgUser.userProfileId , 'view' ]" >{{pgUser.userProfileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pg-user', pgUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pg-user', pgUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pg-user', { outlets: { popup: pgUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
