<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.agent.home.title">Agents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent" [routerLink]="['/agent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.agent.home.createLabel">
            Create new Agent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="agents?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.agent.home.notFound">No agents found</span>
    </div>
    <div class="table-responsive" *ngIf="agents?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.matricule">Matricule</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.firstname">Firstname</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.lastname">Lastname</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.birthdate">Birthdate</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.email">Email</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.mobilePhone">Mobile Phone</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.businessEmail">Business Email</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.businessPhone">Business Phone</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.address">Address</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.city">City</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.countryCode">Country Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.partnerCode">Partner Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.username">Username</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.active">Active</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.agent.agentType">Agent Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of agents ;trackBy: trackId">
                <td><a [routerLink]="['/agent', agent.id, 'view' ]">{{agent.id}}</a></td>
                <td>{{agent.matricule}}</td>
                <td>{{agent.firstname}}</td>
                <td>{{agent.lastname}}</td>
                <td>{{agent.birthdate}}</td>
                <td>{{agent.email}}</td>
                <td>{{agent.mobilePhone}}</td>
                <td>{{agent.businessEmail}}</td>
                <td>{{agent.businessPhone}}</td>
                <td>{{agent.address}}</td>
                <td>{{agent.postalCode}}</td>
                <td>{{agent.city}}</td>
                <td>{{agent.countryCode}}</td>
                <td>{{agent.partnerCode}}</td>
                <td>{{agent.username}}</td>
                <td>{{agent.active}}</td>
                <td>
                    <div *ngIf="agent.agentTypeId">
                        <a [routerLink]="['../agent-type', agent.agentTypeId , 'view' ]" >{{agent.agentTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agent', agent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agent', agent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'agent', { outlets: { popup: agent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
