<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="detailContract">
            <h2><span jhiTranslate="pgkernelgatewayApp.detailContract.detail.title">Detail Contract</span> {{detailContract.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgkernelgatewayApp.detailContract.comment">Comment</span></dt>
                <dd>
                    <span>{{detailContract.comment}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.detailContract.active">Active</span></dt>
                <dd>
                    <span>{{detailContract.active}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.detailContract.contract">Contract</span></dt>
                <dd>
                    <div *ngIf="detailContract.contractId">
                        <a [routerLink]="['/contract', detailContract.contractId, 'view']">{{detailContract.contractId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/detail-contract', detailContract.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
