<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.pgResponseCode.home.title">Pg Response Codes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pg-response-code" [routerLink]="['/pg-response-code/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.pgResponseCode.home.createLabel">
            Create new Pg Response Code
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pgResponseCodes?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.pgResponseCode.home.notFound">No pgResponseCodes found</span>
    </div>
    <div class="table-responsive" *ngIf="pgResponseCodes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgResponseCode.code">Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgResponseCode.label">Label</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgResponseCode.description">Description</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgResponseCode.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pgResponseCode of pgResponseCodes ;trackBy: trackId">
                <td><a [routerLink]="['/pg-response-code', pgResponseCode.id, 'view' ]">{{pgResponseCode.id}}</a></td>
                <td>{{pgResponseCode.code}}</td>
                <td>{{pgResponseCode.label}}</td>
                <td>{{pgResponseCode.description}}</td>
                <td>{{pgResponseCode.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pg-response-code', pgResponseCode.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pg-response-code', pgResponseCode.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pg-response-code', { outlets: { popup: pgResponseCode.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
