<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pricePlan">
            <h2><span jhiTranslate="pgkernelgatewayApp.pricePlan.detail.title">Price Plan</span> {{pricePlan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgkernelgatewayApp.pricePlan.label">Label</span></dt>
                <dd>
                    <span>{{pricePlan.label}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pricePlan.startDate">Start Date</span></dt>
                <dd>
                    <span>{{pricePlan.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pricePlan.endDate">End Date</span></dt>
                <dd>
                    <span>{{pricePlan.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="pgkernelgatewayApp.pricePlan.active">Active</span></dt>
                <dd>
                    <span>{{pricePlan.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/price-plan', pricePlan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
