<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.personType.home.title">Person Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person-type" [routerLink]="['/person-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.personType.home.createLabel">
            Create new Person Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="personTypes?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.personType.home.notFound">No personTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="personTypes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.personType.code">Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.personType.label">Label</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.personType.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personType of personTypes ;trackBy: trackId">
                <td><a [routerLink]="['/person-type', personType.id, 'view' ]">{{personType.id}}</a></td>
                <td>{{personType.code}}</td>
                <td>{{personType.label}}</td>
                <td>{{personType.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/person-type', personType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person-type', personType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'person-type', { outlets: { popup: personType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
