<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pg-8583-callback-heading" jhiTranslate="pgkernelgatewayApp.pg8583Callback.home.createOrEditLabel">Create or edit a Pg 8583 Callback</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pg8583Callback.partnerCode" for="field_partnerCode">Partner Code</label>
                    <input type="text" class="form-control" name="partnerCode" id="field_partnerCode"
                           formControlName="partnerCode"/>
                    <div *ngIf="editForm.get('partnerCode').invalid && (editForm.get('partnerCode').dirty || editForm.get('partnerCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('partnerCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 5 }">
                        This field cannot be longer than 5 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pg8583Callback.callbackUri" for="field_callbackUri">Callback Uri</label>
                    <input type="text" class="form-control" name="callbackUri" id="field_callbackUri"
                           formControlName="callbackUri"/>
                    <div *ngIf="editForm.get('callbackUri').invalid && (editForm.get('callbackUri').dirty || editForm.get('callbackUri').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('callbackUri').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('callbackUri').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pg8583Callback.httpMethod" for="field_httpMethod">Http Method</label>
                    <input type="text" class="form-control" name="httpMethod" id="field_httpMethod"
                           formControlName="httpMethod"/>
                    <div *ngIf="editForm.get('httpMethod').invalid && (editForm.get('httpMethod').dirty || editForm.get('httpMethod').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('httpMethod').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('httpMethod').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pg8583Callback.managerClass" for="field_managerClass">Manager Class</label>
                    <input type="text" class="form-control" name="managerClass" id="field_managerClass"
                           formControlName="managerClass"/>
                    <div *ngIf="editForm.get('managerClass').invalid && (editForm.get('managerClass').dirty || editForm.get('managerClass').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('managerClass').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('managerClass').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgkernelgatewayApp.pg8583Callback.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
