<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgkernelgatewayApp.pgData.home.title">Pg Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pg-data" [routerLink]="['/pg-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgkernelgatewayApp.pgData.home.createLabel">
            Create new Pg Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pgData?.length === 0">
        <span jhiTranslate="pgkernelgatewayApp.pgData.home.notFound">No pgData found</span>
    </div>
    <div class="table-responsive" *ngIf="pgData?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgData.code">Code</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgData.longLabel">Long Label</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgData.shortLabel">Short Label</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgData.comment">Comment</span></th>
            <th><span jhiTranslate="pgkernelgatewayApp.pgData.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pgData of pgData ;trackBy: trackId">
                <td><a [routerLink]="['/pg-data', pgData.id, 'view' ]">{{pgData.id}}</a></td>
                <td>{{pgData.code}}</td>
                <td>{{pgData.longLabel}}</td>
                <td>{{pgData.shortLabel}}</td>
                <td>{{pgData.comment}}</td>
                <td>{{pgData.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pg-data', pgData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pg-data', pgData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pg-data', { outlets: { popup: pgData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
